body {

    margin: 0px;
    background-image: linear-gradient(to top left,#444054, #2F243A 50%);
    width: 100vw;
    height: 100vh;

    font-family: 'Nunito', sans-serif;
    color: black;  
}

main {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    line-height: 60%;

    padding: 10px;
}

header {
    
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header > #ultimate-logo {

    font-size: 1.5rem;
    font-weight: 800;

    background-color: #DB8A74;  
    color: #2F243A;

    border-radius: 10px;
    padding: 5px 10px 5px 0px;
    margin-right: 10px;

    box-shadow: 3px 3px 5px black;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header > #ultimate-logo:hover {

    cursor: pointer;
    background-color: #BEBBBB;
    transform: translateY(-0.25em);
    box-shadow: 3px 3px 5px black;
}

header > #ultimate-logo > img {

    width: 1.5em;
    margin-left: 0;
}

header > h1 {

    color: white;
    font-size: 1.25rem;
}

main > h2 {


}

div#data-inputs {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 30px;
}

div#selectors {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    background-color: #FAC9B8;
    margin: 10px;
    padding: 15px;

    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}

div#selectors > div > p {

    margin: 0px 0px 10px 0px;
    padding: 0px;
}

div#user-inputs {

    background-color: bisque;
    padding: 15px;
}

div#prices {

    background-color: antiquewhite;
    display: none;
}

div#profits {
    line-height: normal;
}

img {
    width: 70px;
}

strong {
    color: rgb(165, 17, 17);
}